{% extends 'base.html' %}
{% block title %}Changes from {{ change.old_version }} to {{ change.new_version }}{% endblock %}

{% block content %}
<h1>Changes from {{ change.old_version }} (r{{ change.old_revno }}) to {{ change.new_version }} (r{{ change.new_revno }})</h1>

<h2>Summary</h2>

<div>
  The {{ change.new_version }} version of core was build on {{ change.build_date }}. It contains {{ change.pkg_changes|length }} package changes.
</div>

<h2>Package changes</h2>
<ul>
  {% for pkg, from_to in change.pkg_changes |dictsort %}
  <li>
    {% if from_to[0] == "" %}
    <a href="#{{ pkg }}">{{ pkg }} added
    {% elif from_to[1] == "" %}
    {{ pkg }} removed
    {% else %}
    <a href="#{{ pkg }}">{{ pkg }}</a> from {{ from_to[0] }} to {{ from_to[1] }}
    {% endif %}
  </li>
  {% endfor %}
</ul>

<h2>Package changelogs</h2>

<ul>
  {% for name, changelog in change.changelogs | dictsort %}
  <a name="{{ name }}"></a>
  <h3>Change for {{ name }}</h3>
  <pre>{{ changelog }}</pre>
  {% endfor %}
<ul>

{% endblock %}
